@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --p-size: 1rem;
  --bg-color: hsl(30, 30%, 94%);
  --font: "Karla", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  font-family: var(--font);
  padding: 2rem 0;
}

p {
  font-size: var(--p-size);
}